/*
QMainWindow { 
    border: 1px solid rgb(214, 214, 214);
}

QMenuBar {
    border-top: 1px solid rgb(214, 214, 214);
}

QMenuBar::item {
    border-top: 1px solid rgb(214, 214, 214);
}
*/

QMainWindow {
    background-color: #fafafa;
}

QMenuBar {
    background-color: #fafafa;
}

QDialog { 
    background-color: #fafafa; 
}