QMenuBar {
    background-color: #f0f0f0;
}
QMenuBar::item {
    background-color: #f0f0f0;
}
QMenuBar::item:selected {    
    background-color: #FF007ACC;
	color: white;
}
QMenu {
	background-color: #f0f0f0;
}
QMenu::item:selected {
    background-color: #FF007ACC;
    color: white;
}
